.center {
    text-align: center;
}

.center-page{
    width: 600px;
    height: 450px;
    position:absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    background-color:#5BC0DE;  
}

.space-vert {
    margin-top: 20px;
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*body {
    padding-top: 50px;
}*/